*{
	margin: 0;
	padding: 0;
	// outline: 1px dashed lawngreen;
}

td{
	overflow: auto;
}

ul{
	list-style-type: none;
}

#ratestars{
	color: black;
	font-size: 1.4em;
}


body{
	div#wrapper { 

	div#header { 
		margin-bottom: 20px;
		text-align: center;
		span { 
			text-shadow: 1px 1px 1px gold;
			font-weight: bold;
			font-size: 25px;
		}
	}

	div#nav { 
		margin-bottom: 20px;
		button.newresto { 
			position: relative;
			left: 59.9%;
			display: inline; 
			border-radius: 10px;
			// float: right;
		}
		
		input.search{
			position: relative;
			left: 59.9%;
			display: inline; 		
			width: 250px;
			border-radius: 10px;
			// float: right;
		}


		div#registrationModal { 

			div.modal-dialog { 

				div.modal-content { 

					div.modal-header { 

						h5.modal-title { 
							font-weight: bold;
							font-size: 20px;
						}

						button.close { 
							
							span { 

							}
						}
					}

					div.modal-body { 

						form#registration { 

							ul { 

								li:last-child{
									display: none;
								}
								
								li { 
									display: grid;
									grid-template-columns: 1fr 2fr;									
									margin-bottom: 5px;
									label { 
									
									}

									input { 
										border-radius: 5px;
									}
								}
							}

						
						}
					}

					div.modal-footer { 

						button.btn { 
							border-radius: 10px;
						}
					}
				}
			}
		}
	}

	div#main { 

		div.container { 
			table tr:last-child td:first-child {
				border-bottom-left-radius: 10px;
			}
			
			table tr:last-child td:last-child {
				border-bottom-right-radius: 10px;
			}

			table.table { 					
				table-layout: fixed;
				width: 100%; 
				thead { 
					
					tr { 
						th:first-child{
							border-top-left-radius: 10px;
						}
						th:last-child{
							border-top-right-radius: 10px;
						}
						th { 
							background-color: limegreen;
							color:white;
							
						}
					}
				}
			
				tbody#myTable { 
		
					tr{
						&:nth-child(even){
							background:rgb(181, 237, 181);	
						}
						&:nth-child(odd){
							background:rgb(221, 247, 221);		
						}
						background: black;
						&:hover{
							background-color: rgb(179, 226, 244);
							
						}		
						td:first-child{
							font-weight: bold;
						}
													
							
						// &:nth-child(even){
						// 	background:rgb(181, 237, 181);							
						// }
						// &:nth-child(odd){
						// 	background:rgb(221, 247, 221);							
						// }

						td{

						}
						div.options{
							
							height: 0px;
							width: 66px;
							position: relative;
							right: -60%;
							top: -19px;
							text-align: center;
							span{
								height: 14px;
								width: 22px;
								// background-color: red;
								margin: 0 0px;
								text-align: center;
								cursor: pointer;
							}
						}
					}
				}
			}
		}

		div#editModal { 

			div.modal-dialog { 

				div.modal-content { 

					div.modal-header { 

						h5.modal-title { 
							font-weight: bold;
							font-size: 20px;
						}

						button.close { 

							span { 

							}
						}
					}

					div.editModalBody { 

						form#updateentry { 

							ul { 
								li:last-child{
									display: none;
								}
								li { 
									display: grid;
									grid-template-columns: 1fr 2fr;									
									margin-bottom: 5px;
									label { 

									}

									input { 
										border-radius: 5px;
									}
								}
							}

						
						}
					}

					div.modal-footer { 

						button.btn { 
							border-radius: 10px;
						}
					}
				}
			}
		}
	}

	div.review-div { 
		
		button#back{
			border-radius: 10px;
		}

		button.newreview { 
			position: relative;
			left: 54.9%;
			display: inline; 
			border-radius: 10px;
		}
	
		input#myReviews{ 
			position: relative;
			left: 54.9%;
			display: inline; 		
			width: 250px;
			border-radius: 10px;
		}
		table tr:last-child td:first-child {
			border-bottom-left-radius: 10px;
		}
		
		table tr:last-child td:last-child {
			border-bottom-right-radius: 10px;
		}
	
		table.table { 
			margin-top: 20px;
			table-layout: fixed;
			width: 100%; 
	
			thead { 
	
				tr { 

					th:first-child{
						border-top-left-radius: 10px;
					}
					th:last-child{
						border-top-right-radius: 10px;
						width: 690px;

					}
	
					th { 
						background-color: limegreen;
						color:white;
					}
				}
			}
	
			tbody#myReviewTable { 
				tr{
					&:nth-child(even){
						background:rgb(181, 237, 181);	
					}
					&:nth-child(odd){
						background:rgb(221, 247, 221);		
					}
					background: black;
					&:hover{						
						background-color: rgb(179, 226, 244);						
					}		
							
					td:first-child{
						font-weight: bold;
					}
					// &:nth-child(even){
					// 	background:rgb(181, 237, 181);							
					// }
					// &:nth-child(odd){
					// 	background:rgb(221, 247, 221);							
					// }

					td{

					}
					div.options{
						
						height: 0px;
						width: 66px;
						position: relative;
						right: -90%;
						top: -19px;
						text-align: center;
						span{
							height: 14px;
							width: 22px;
							// background-color: red;
							margin: 0 0px;
							text-align: center;
							cursor: pointer;
						}
					}
				}
	
			}
		}
	}
	
	div.modal { 
	
		div.modal-dialog { 
	
			div.modal-content { 
	
				div.modal-header { 
	
					h5.review-modal-title { 
						font-weight: bold;
						font-size: 20px;
					}
	
					button.close { 
	
						span { 
	
						}
					}
				}
	
				div.modal-body { 
	
					form#reviews { 
	
						ul { 
	
							li { 
								display: grid;
								grid-template-columns: 1fr 2fr;									
								margin-bottom: 5px;
	
								label { 
	
								}
	
								input { 
									border-radius: 5px;
								}
								textarea{
									height: 100px;
									border-radius: 5px;
									resize: none;
								}
								
								div.rating{
									unicode-bidi: bidi-override;
									direction: rtl;
									text-align: left;
									// color:#32CD32;
   									 font-size: 25px;
									span{
										cursor: pointer;									
									}
								}
								div.rating{
									unicode-bidi: bidi-override;
									direction: rtl;
									text-align: left;
									color:white;
									// fill: white;
   									 font-size: 25px;
									span{
										fill: white;
										cursor: pointer;
										-webkit-text-stroke-width: 1px;
  										-webkit-text-stroke-color: #32CD32;
									}
								}
								div.rating > span {
									/*font-size: 100px;*/
									display: inline-block;
									position: relative;
									width: 1.1em;
								  }
								.rating > span:hover,
								.rating > span:hover ~ span {
								color: transparent;
								}

								.rating > span:hover:before,
								.rating > span:hover ~ span:before {
								content: "\2605";
								position: absolute;
								left: 0; 
								color: #32CD32;}
							
							}
						}
					}
				}
	
				div.modal-footer { 
	
					button.btn { 
						border-radius: 10px;
					}
				}
			}
		}
	}
	div.modal { 

		div.modal-dialog { 
	
			div.modal-content { 
	
				div.modal-header { 
	
					h5.editreview-modal-title { 
						font-weight: bold;
						font-size: 20px;
					}
	
					button.close { 
	
						span { 
	
						}
					}
				}
	
				div.modal-body { 
	
					form#editreviews { 
	
						ul { 
	
							li { 
								display: grid;
								grid-template-columns: 1fr 2fr;									
								margin-bottom: 5px;
	
								label { 
	
								}
	
								input { 
									border-radius: 5px;
								}
								textarea{
									height: 100px;
									border-radius: 5px;
									resize: none;
									overflow: scroll;
								}

								div.rating{
									unicode-bidi: bidi-override;
									direction: rtl;
									text-align: left;
									color:white;
   									 font-size: 25px;
									span{
										fill: white;
										cursor: pointer;
										-webkit-text-stroke-width:1px;
										  -webkit-text-stroke-color: #32CD32;
										  text-shadow: 1px 1px 1px grey;
									}
								}
								div.rating > span {
									/*font-size: 100px;*/
									display: inline-block;
									position: relative;
									width: 1.1em;
								  }
								.rating > span:hover,
								.rating > span:hover ~ span {
								color: transparent;
								}

								.rating > span:hover:before,
								.rating > span:hover ~ span:before {
								content: "\2605";
								position: absolute;
								left: 0; 
								color: #32CD32;
								}
							}
						}
					}
				}
	
				div.modal-footer { 
	
					button.btn { 
	
					}
				}
			}
		}
	}
  }	
}