*{
    padding: 0px;
    margin: 0px;
    outline: 1px dashed lawngreen;
}
body{
	div#wrapper { 
		background-color: antiquewhite;
		div#header { 
			display: none;
			span { 
				
			}
		}
	
		div#nav { 
			
			button.btn { 
				
			}
	
			div.modal { 
	
				div.modal-dialog { 
	
					div.modal-content { 
	
						div.modal-header { 
	
							h5.modal-title { 
	
							}
	
							button.close { 
	
								span { 
	
								}
							}
						}
	
						div.modal-body { 
	
							form#registration { 
	
								ul { 
									list-style-type: none;
									li { 
										display: grid;
										grid-template-columns: 2;
										label { 
											
										}
							
										input { 
											
										}
									}
								}
								textarea{
									// display:none;	
								}
							}
						}
	
						div.modal-footer { 
	
							button.btn { 
	
							}
						}
					}
				}
			}
	
			input#search { 
			
			}
		}
	
		div#main { 
	
			div.container { 
	
				table.table { 
	
					thead { 
	
						tr { 
	
							th { 
	
							}
						}
					}
	
					tbody { 
	
						tr { 
	
							th { 
	
							}
	
							td { 
	
							}
						}
					}
				}
			}
		}
	
		div#footer { 
	
		}
	}
}