*{
	margin: 0;
	padding: 0;
	// outline: 1px dashed lawngreen;
}
@font-face {
	font-family: Azkia;
	src: url(../fonts/Azkia.otf);
}	


tr td{
	overflow: hidden;
	text-align: justify;
}

ul{
	list-style-type: none;
}

#ratestars{
	color: black;
	font-size: 1.4em;
}

body{
		
	background: linear-gradient(to right,#32CC16, #E4E5C1);	
	height: 900px;
	div#wrapper {
		// background: url('../images/cuisine.PNG');
		// height: 900px;
		// background-position: fixed;
		// & {
		// 	position: relative;
		// 	overflow: hidden;
		// 	z-index: -1;
		// }
		// & h1 {
		// 	padding: 200px;
		// 	position: relative;
		// 	z-index: -1;
		// } 
		// & img {
		// 	position: absolute;
		// 	left: 0;
		// 	top: 0;
		// 	width: 100%;
		// 	opacity: 0.1;
		// }
		// z-index: -1;

		// // height:1000px;
		
	div#header { 
		margin-top: 36px;
		margin-bottom: 0px;
		text-align: center;
		span { 
		    text-shadow: 1px 6px 0px ghostwhite;
			font-weight: bold;
			font-size: 154px;
			font-family: 'Azkia';	
		}
	}

	div#nav { 
		margin-bottom: 20px;
		button.newresto { 
			position: relative;
			left: 59.82%;
			display: inline; 
			background-color: #32CD32;
			font-weight: bold;			
			border-radius: 10px;
			// float: right;
			&:hover{
				box-shadow: 0px 0px 0px 1px black;
				background-color: white;
				color: #32CD32;
				font-weight: bold;
			}
			span{
			    font-size: 12px;
			}
		}

		
		input.search{
			position: relative;
			left: 59.82%;
			display: inline; 		
			width: 250px;
			border-radius: 10px;
			// float: right;
		}


		div#registrationModal { 

			div.modal-dialog { 

				div.modal-content { 

					div.modal-header { 

						h5.modal-title { 
							font-weight: bold;
							font-size: 20px;
						}

						button.close { 
							
							span { 

							}
						}
					}

					div.modal-body { 

						form#registration { 

							ul { 
								
								li:last-child{
									display: none;
								}
								li:first-child{
									input{
										width: 100%;
										margin-bottom: 10px;
									}
								}

								li:nth-child(2){
									input{
										width: 100%;
										margin-bottom: 10px;
									}
								}								

								li:nth-child(3){
									display: inline-grid;
									input{
										display: block;
										width: 158%;
									}
									
								}								
								li:nth-child(4){
									display: inline-grid;
									float:right;
									margin-right: 19%;
									input{
										display: block;
										width: 162%;
									}
								}	
																							
								li { 
									// display: grid;
									// grid-template-columns: 1fr 2fr;									
									// margin-bottom: 5px;

									
									label { 
									
									}

									input { 
										border-radius: 5px;
									}
								}

								
							}

						
						}
					}

					div.modal-footer { 

						button.btn { 
							border-radius: 10px;
						}
					}
				}
			}
		}
	}

	div#main { 	
		img{
			height: 568px;
    position: absolute;
    opacity: 0.5;
    left: 89px;
    top: 7px;
    z-index: -1;
		
		}
		div.container { 		
			table tr:last-child td:first-child {
				border-bottom-left-radius: 10px;
			}
			
			table tr:last-child td:last-child {
				border-bottom-right-radius: 10px;
			}

			table.table { 
				// border: px solid green;								
				table-layout: fixed;
				width: 100%; 
				box-shadow: 0px 0px 10px 2px black;
				border-radius: 10px;	
				thead { 
					
					tr { 
						th:first-child{
							border-top-left-radius: 10px;
						}
						th:last-child{
							border-top-right-radius: 10px;
						}
						th { 
							background-color: limegreen;
							color:white;
							
						}
					}
				}
			
				tbody#myTable { 

					.noresto{
						text-align: center;
					}
		
					tr{
						&:nth-child(even){
							background:rgb(181, 237, 181);	
						}
						&:nth-child(odd){
							background:rgb(221, 247, 221);		
						}
						background: black;
						&:hover{
							background-color: rgb(179, 226, 244);
							
						}		
						td:first-child{
							font-weight: bold;
						}
						td.noitems{
							text-align: center;
						}
													
							
						// &:nth-child(even){
						// 	background:rgb(181, 237, 181);							
						// }
						// &:nth-child(odd){
						// 	background:rgb(221, 247, 221);							
						// }

						td{

						}
						div.options{
							display: block;
							background-color: #32CD32;
							height: 19px;
							width: 78px;
							position: relative;
							right: -45%;
							/* top: -19px; */
							text-align: center;
							border-top-left-radius: 8px;
							border-bottom-left-radius: 8px;
							float: right;							
							box-shadow: 0px 0px 0px 8px #32CD32;
							z-index: 99;		
							
							// span:first-child{
								border-top-left-radius: 8px;
								border-bottom-left-radius: 8px;
							// }
							span{
								top:2px;
								// height: 27px;
								width: 22px;
								z-index: 99;
								margin: 0 0px;
								text-align: center;
								// top: -5px;
								// left: 26px;
								cursor: pointer;
								// padding-top: 6px;
								// color:green;
							}
							span:hover{
								color: white;
							}
						}
					}
				}				
						
			}
			
		
		}
	
		

		div#editModal { 

			div.modal-dialog { 

				div.modal-content { 

					div.modal-header { 

						h5.modal-title { 
							font-weight: bold;
							font-size: 20px;
						}

						button.close { 

							span { 

							}
						}
					}

					div.editModalBody { 

						form#updateentry { 

							ul { 
								li:last-child{
									display: none;
								}

								li:first-child{
									input{
										width: 100%;
										margin-bottom: 10px;
									}
								}

								li:nth-child(2){
									input{
										width: 100%;
										margin-bottom: 10px;
									}
								}								

								li:nth-child(3){
									display: inline-grid;
									input{
										display: block;
										width: 160%;
									}
									
								}								
								li:nth-child(4){
									display: inline-grid;
									float:right;
									margin-right: 19%;
									input{
										display: block;
										width: 162%;
									}
								}	
								li { 
									// display: grid;
									// grid-template-columns: 1fr 2fr;									
									// margin-bottom: 5px;
									label { 

									}

									input { 
										border-radius: 5px;
									}
								}
							}

						
						}
					}

					div.modal-footer {
						button.btn { 
							border-radius: 10px;
						}
					}
				}
			}
		}
	}

	div.review-div { 
		div.reston{
			span{
				font-size: 50px;
				text-shadow: 0px 0px 13px white;
			}
		}
		
		button#back{
			border-radius: 10px;
			background-color: #32CD32;
			font-weight: bold;	
			&:hover{
				box-shadow: 0px 0px 0px 1px black;
				background-color: white;
				color: #32CD32;
				font-weight: bold;
			}
		}

		button.newreview { 
			position: relative;
			left: 51%;
			display: inline; 
			border-radius: 10px;
			background-color: #32CD32;
			font-weight: bold;	

			&:hover{
				box-shadow: 0px 0px 0px 1px black;
				background-color: white;
				color: #32CD32;
				font-weight: bold;
			}
			span{
			    font-size: 12px;
			}
		}
		
	
		input#myReviews{ 
			position: relative;
			left: 51%;
			display: inline; 		
			width: 250px;
			border-radius: 10px;
		}
		table tr:last-child td:first-child {
			border-bottom-left-radius: 10px;
		}
		
		table tr:last-child td:last-child {
			border-bottom-right-radius: 10px;
		}
	
		table.table { 
			margin-top: 20px;
			table-layout: fixed;
			width: 100%; 
			box-shadow: 0px 0px 10px 2px black;
			border-radius: 10px;
	
			thead { 
	
				tr { 

					th:first-child{
						border-top-left-radius: 10px;
					}
					th:last-child{
						border-top-right-radius: 10px;
						width: 690px;

					}
	
					th { 
						background-color: limegreen;
						color:white;
					}
				}
			}
	
			tbody#myReviewTable { 
				.noreview{
					// display: none;
					text-align: center;
				}
				
				tr{
					&:nth-child(even){
						background:rgb(181, 237, 181);	
					}
					&:nth-child(odd){
						background:rgb(221, 247, 221);		
					}
					background: black;
					&:hover{						
						background-color: rgb(179, 226, 244);						
					}		
							
					td:first-child{
						font-weight: bold;
					}
				
					td.noitems{
						text-align: center;
					}

					td{

					}
					div.options{
						display: block;
						background-color: #32CD32;
						height: 19px;
						width: 46px;
						position: relative;
						right: -14%;
						top: 3px;
						text-align: center;
						border-top-left-radius: 8px;
						border-bottom-left-radius: 8px;
						float: right;							
						box-shadow: 0px 0px 0px 10px #32CD32;
						z-index: 99;		
						
						// span:first-child{
							border-top-left-radius: 8px;
							border-bottom-left-radius: 8px;
						// }
						span{
							top:2px;
							// height: 27px;
							width: 21px;
							z-index: 99;
							margin: 0 0px;
							text-align: center;
							// top: -5px;
							// left: 26px;
							cursor: pointer;
							// padding-top: 6px;
							// color:green;
						}
						span:hover{
							color: white;
						}
					}
				}
	
			}
		}
	}
	
	div.modal { 
	
		div.modal-dialog { 
	
			div.modal-content { 
	
				div.modal-header { 
	
					h5.review-modal-title { 
						font-weight: bold;
						font-size: 20px;
					}
	
					button.close { 
	
						span { 
	
						}
					}
				}
	
				div.modal-body { 
	
					form#reviews { 
	
						ul { 
	
							li { 
								display: grid;
								grid-template-columns: 1fr 2fr;									
								margin-bottom: 5px;
	
								label { 
	
								}
	
								input { 
									border-radius: 5px;
								}
								textarea{
									height: 100px;
									border-radius: 5px;
									resize: none;
								}
								
								div.rating{
									unicode-bidi: bidi-override;
									direction: rtl;
									text-align: left;
									// color:#32CD32;
   									 font-size: 25px;
									span{
										cursor: pointer;									
									}
								}
								div.rating{
									unicode-bidi: bidi-override;
									direction: rtl;
									text-align: left;
									color:white;
									// fill: white;
   									 font-size: 25px;
									span{
										fill: white;
										cursor: pointer;
										-webkit-text-stroke-width: 1px;
  										-webkit-text-stroke-color: #32CD32;
									}
								}
								div.rating > span {
									/*font-size: 100px;*/
									display: inline-block;
									position: relative;
									width: 1.1em;
								  }
								.rating > span:hover,
								.rating > span:hover ~ span {
								color: transparent;
								}

								.rating > span:hover:before,
								.rating > span:hover ~ span:before {
								content: "\2605";
								position: absolute;
								left: 0; 
								color: #32CD32;}
							
							}
						}
					}
				}
	
				div.modal-footer { 
	
					button.btn { 
						border-radius: 10px;
					}
				}
			}
		}
	}
	div.modal { 

		div.modal-dialog { 
	
			div.modal-content { 
	
				div.modal-header { 
	
					h5.editreview-modal-title { 
						font-weight: bold;
						font-size: 20px;
					}
	
					button.close { 
	
						span { 
	
						}
					}
				}
	
				div.modal-body { 
	
					form#editreviews { 
	
						ul { 
	
							li { 
								display: grid;
								grid-template-columns: 1fr 2fr;									
								margin-bottom: 5px;
	
								label { 
	
								}
	
								input { 
									border-radius: 5px;
								}
								textarea{
									height: 100px;
									border-radius: 5px;
									resize: none;
									overflow: scroll;
								}

								div.rating{
									unicode-bidi: bidi-override;
									direction: rtl;
									text-align: left;
									color:white;
   									 font-size: 25px;
									span{
										fill: white;
										cursor: pointer;
										-webkit-text-stroke-width:1px;
										  -webkit-text-stroke-color: #32CD32;
										  text-shadow: 1px 1px 1px grey;
									}
								}
								div.rating > span {
									/*font-size: 100px;*/
									display: inline-block;
									position: relative;
									width: 1.1em;
								  }
								.rating > span:hover,
								.rating > span:hover ~ span {
								color: transparent;
								}

								.rating > span:hover:before,
								.rating > span:hover ~ span:before {
								content: "\2605";
								position: absolute;
								left: 0; 
								color: #32CD32;
								}
							}
						}
					}
				}
	
				div.modal-footer { 
	
					button.btn { 
	
					}
				}
			}
		}
	}
  }	
}