* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: Azkia;
  src: url(../fonts/Azkia.otf);
}
tr td {
  overflow: hidden;
  text-align: justify;
}
ul {
  list-style-type: none;
}
#ratestars {
  color: black;
  font-size: 1.4em;
}
body {
  background: linear-gradient(to right, #32cc16, #e4e5c1);
  height: 900px;
}
body div#wrapper div#header {
  margin-top: 36px;
  margin-bottom: 0px;
  text-align: center;
}
body div#wrapper div#header span {
  text-shadow: 1px 6px 0px ghostwhite;
  font-weight: bold;
  font-size: 154px;
  font-family: 'Azkia';
}
body div#wrapper div#nav {
  margin-bottom: 20px;
}
body div#wrapper div#nav button.newresto {
  position: relative;
  left: 58.82%;
  display: inline;
  background-color: #32CD32;
  font-weight: bold;
  border-radius: 10px;
}
body div#wrapper div#nav button.newresto:hover {
  box-shadow: 0px 0px 0px 1px black;
  background-color: white;
  color: #32CD32;
  font-weight: bold;
}
body div#wrapper div#nav button.newresto span {
  font-size: 12px;
}
body div#wrapper div#nav input.search {
  position: relative;
  left: 58.82%;
  display: inline;
  width: 250px;
  border-radius: 10px;
}
body div#wrapper div#nav div#registrationModal div.modal-dialog div.modal-content div.modal-header h5.modal-title {
  font-weight: bold;
  font-size: 20px;
}
body div#wrapper div#nav div#registrationModal div.modal-dialog div.modal-content div.modal-body form#registration ul li:last-child {
  display: none;
}
body div#wrapper div#nav div#registrationModal div.modal-dialog div.modal-content div.modal-body form#registration ul li {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 5px;
}
body div#wrapper div#nav div#registrationModal div.modal-dialog div.modal-content div.modal-body form#registration ul li input {
  border-radius: 5px;
}
body div#wrapper div#nav div#registrationModal div.modal-dialog div.modal-content div.modal-footer button.btn {
  border-radius: 10px;
}
body div#wrapper div#main img {
  height: 568px;
  position: absolute;
  opacity: 0.5;
  left: 89px;
  top: 7px;
  z-index: -1;
}
body div#wrapper div#main div.container table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
body div#wrapper div#main div.container table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}
body div#wrapper div#main div.container table.table {
  table-layout: fixed;
  width: 100%;
  box-shadow: 0px 0px 10px 2px black;
  border-radius: 10px;
}
body div#wrapper div#main div.container table.table thead tr th:first-child {
  border-top-left-radius: 10px;
}
body div#wrapper div#main div.container table.table thead tr th:last-child {
  border-top-right-radius: 10px;
}
body div#wrapper div#main div.container table.table thead tr th {
  background-color: limegreen;
  color: white;
}
body div#wrapper div#main div.container table.table tbody#myTable .noresto {
  text-align: center;
}
body div#wrapper div#main div.container table.table tbody#myTable tr {
  background: black;
}
body div#wrapper div#main div.container table.table tbody#myTable tr:nth-child(even) {
  background: #b5edb5;
}
body div#wrapper div#main div.container table.table tbody#myTable tr:nth-child(odd) {
  background: #ddf7dd;
}
body div#wrapper div#main div.container table.table tbody#myTable tr:hover {
  background-color: #b3e2f4;
}
body div#wrapper div#main div.container table.table tbody#myTable tr td:first-child {
  font-weight: bold;
}
body div#wrapper div#main div.container table.table tbody#myTable tr div.options {
  display: block;
  background-color: #32CD32;
  height: 19px;
  width: 78px;
  position: relative;
  right: -45%;
  /* top: -19px; */
  text-align: center;
  float: right;
  box-shadow: 0px 0px 0px 8px #32CD32;
  z-index: 99;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
body div#wrapper div#main div.container table.table tbody#myTable tr div.options span {
  top: 2px;
  width: 22px;
  z-index: 99;
  margin: 0 0px;
  text-align: center;
  cursor: pointer;
}
body div#wrapper div#main div.container table.table tbody#myTable tr div.options span:hover {
  color: white;
}
body div#wrapper div#main div#editModal div.modal-dialog div.modal-content div.modal-header h5.modal-title {
  font-weight: bold;
  font-size: 20px;
}
body div#wrapper div#main div#editModal div.modal-dialog div.modal-content div.editModalBody form#updateentry ul li:last-child {
  display: none;
}
body div#wrapper div#main div#editModal div.modal-dialog div.modal-content div.editModalBody form#updateentry ul li {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 5px;
}
body div#wrapper div#main div#editModal div.modal-dialog div.modal-content div.editModalBody form#updateentry ul li input {
  border-radius: 5px;
}
body div#wrapper div#main div#editModal div.modal-dialog div.modal-content div.modal-footer button.btn {
  border-radius: 10px;
}
body div#wrapper div.review-div div.reston span {
  font-size: 50px;
  text-shadow: 0px 0px 13px white;
}
body div#wrapper div.review-div button#back {
  border-radius: 10px;
  background-color: #32CD32;
  font-weight: bold;
}
body div#wrapper div.review-div button#back:hover {
  box-shadow: 0px 0px 0px 1px black;
  background-color: white;
  color: #32CD32;
  font-weight: bold;
}
body div#wrapper div.review-div button.newreview {
  position: relative;
  left: 51%;
  display: inline;
  border-radius: 10px;
  background-color: #32CD32;
  font-weight: bold;
}
body div#wrapper div.review-div button.newreview:hover {
  box-shadow: 0px 0px 0px 1px black;
  background-color: white;
  color: #32CD32;
  font-weight: bold;
}
body div#wrapper div.review-div button.newreview span {
  font-size: 12px;
}
body div#wrapper div.review-div input#myReviews {
  position: relative;
  left: 51%;
  display: inline;
  width: 250px;
  border-radius: 10px;
}
body div#wrapper div.review-div table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
body div#wrapper div.review-div table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}
body div#wrapper div.review-div table.table {
  margin-top: 20px;
  table-layout: fixed;
  width: 100%;
  box-shadow: 0px 0px 10px 2px black;
  border-radius: 10px;
}
body div#wrapper div.review-div table.table thead tr th:first-child {
  border-top-left-radius: 10px;
}
body div#wrapper div.review-div table.table thead tr th:last-child {
  border-top-right-radius: 10px;
  width: 690px;
}
body div#wrapper div.review-div table.table thead tr th {
  background-color: limegreen;
  color: white;
}
body div#wrapper div.review-div table.table tbody#myReviewTable .noreview {
  display: none;
  text-align: center;
}
body div#wrapper div.review-div table.table tbody#myReviewTable tr {
  background: black;
}
body div#wrapper div.review-div table.table tbody#myReviewTable tr:nth-child(even) {
  background: #b5edb5;
}
body div#wrapper div.review-div table.table tbody#myReviewTable tr:nth-child(odd) {
  background: #ddf7dd;
}
body div#wrapper div.review-div table.table tbody#myReviewTable tr:hover {
  background-color: #b3e2f4;
}
body div#wrapper div.review-div table.table tbody#myReviewTable tr td:first-child {
  font-weight: bold;
}
body div#wrapper div.review-div table.table tbody#myReviewTable tr div.options {
  display: block;
  background-color: #32CD32;
  height: 19px;
  width: 46px;
  position: relative;
  right: -14%;
  top: 3px;
  text-align: center;
  float: right;
  box-shadow: 0px 0px 0px 10px #32CD32;
  z-index: 99;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
body div#wrapper div.review-div table.table tbody#myReviewTable tr div.options span {
  top: 2px;
  width: 22px;
  z-index: 99;
  margin: 0 0px;
  text-align: center;
  cursor: pointer;
}
body div#wrapper div.review-div table.table tbody#myReviewTable tr div.options span:hover {
  color: white;
}
body div#wrapper div.modal div.modal-dialog div.modal-content div.modal-header h5.review-modal-title {
  font-weight: bold;
  font-size: 20px;
}
body div#wrapper div.modal div.modal-dialog div.modal-content div.modal-body form#reviews ul li {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 5px;
}
body div#wrapper div.modal div.modal-dialog div.modal-content div.modal-body form#reviews ul li input {
  border-radius: 5px;
}
body div#wrapper div.modal div.modal-dialog div.modal-content div.modal-body form#reviews ul li textarea {
  height: 100px;
  border-radius: 5px;
  resize: none;
}
body div#wrapper div.modal div.modal-dialog div.modal-content div.modal-body form#reviews ul li div.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
  font-size: 25px;
}
body div#wrapper div.modal div.modal-dialog div.modal-content div.modal-body form#reviews ul li div.rating span {
  cursor: pointer;
}
body div#wrapper div.modal div.modal-dialog div.modal-content div.modal-body form#reviews ul li div.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
  color: white;
  font-size: 25px;
}
body div#wrapper div.modal div.modal-dialog div.modal-content div.modal-body form#reviews ul li div.rating span {
  fill: white;
  cursor: pointer;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #32CD32;
}
body div#wrapper div.modal div.modal-dialog div.modal-content div.modal-body form#reviews ul li div.rating > span {
  /*font-size: 100px;*/
  display: inline-block;
  position: relative;
  width: 1.1em;
}
body div#wrapper div.modal div.modal-dialog div.modal-content div.modal-body form#reviews ul li .rating > span:hover,
body div#wrapper div.modal div.modal-dialog div.modal-content div.modal-body form#reviews ul li .rating > span:hover ~ span {
  color: transparent;
}
body div#wrapper div.modal div.modal-dialog div.modal-content div.modal-body form#reviews ul li .rating > span:hover:before,
body div#wrapper div.modal div.modal-dialog div.modal-content div.modal-body form#reviews ul li .rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
  left: 0;
  color: #32CD32;
}
body div#wrapper div.modal div.modal-dialog div.modal-content div.modal-footer button.btn {
  border-radius: 10px;
}
body div#wrapper div.modal div.modal-dialog div.modal-content div.modal-header h5.editreview-modal-title {
  font-weight: bold;
  font-size: 20px;
}
body div#wrapper div.modal div.modal-dialog div.modal-content div.modal-body form#editreviews ul li {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 5px;
}
body div#wrapper div.modal div.modal-dialog div.modal-content div.modal-body form#editreviews ul li input {
  border-radius: 5px;
}
body div#wrapper div.modal div.modal-dialog div.modal-content div.modal-body form#editreviews ul li textarea {
  height: 100px;
  border-radius: 5px;
  resize: none;
  overflow: scroll;
}
body div#wrapper div.modal div.modal-dialog div.modal-content div.modal-body form#editreviews ul li div.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
  color: white;
  font-size: 25px;
}
body div#wrapper div.modal div.modal-dialog div.modal-content div.modal-body form#editreviews ul li div.rating span {
  fill: white;
  cursor: pointer;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #32CD32;
  text-shadow: 1px 1px 1px grey;
}
body div#wrapper div.modal div.modal-dialog div.modal-content div.modal-body form#editreviews ul li div.rating > span {
  /*font-size: 100px;*/
  display: inline-block;
  position: relative;
  width: 1.1em;
}
body div#wrapper div.modal div.modal-dialog div.modal-content div.modal-body form#editreviews ul li .rating > span:hover,
body div#wrapper div.modal div.modal-dialog div.modal-content div.modal-body form#editreviews ul li .rating > span:hover ~ span {
  color: transparent;
}
body div#wrapper div.modal div.modal-dialog div.modal-content div.modal-body form#editreviews ul li .rating > span:hover:before,
body div#wrapper div.modal div.modal-dialog div.modal-content div.modal-body form#editreviews ul li .rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
  left: 0;
  color: #32CD32;
}
