* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body .navi {
  -webkit-box-shadow: 0 4px 6px -6px #000000;
  -moz-box-shadow: 0 4px 6px -6px #000000;
  box-shadow: 0 4px 6px -6px #000000;
}
body div.container-fluid div.wrap_nav nav.navbar div.collapse ul.navbar-nav li.nav-item {
  font-weight: 700;
  font-size: 15px;
  text-shadow: 0 0 1px rgba(51, 51, 51, 0.2);
  padding: 0 2.5px;
}
body div.container-fluid div.wrap_nav nav.navbar div.collapse ul.navbar-nav li.nav-item .sign_up {
  background-color: #1FB6FF;
  color: white;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  padding: 9px 18.5px;
}
body div.container-fluid div.wrap_nav nav.navbar div.collapse ul.navbar-nav li.nav-item div.dropdown-menu a.dropdown-item {
  font-size: 13px;
  color: #8792A1;
}
body div.container-fluid div.wrap_nav nav.navbar div.collapse ul.navbar-nav li.nav-item div.dropdown-menu a:hover {
  color: black;
}
body div.container-fluid div.wrap_main {
  margin-top: 176px;
  margin-bottom: 130px;
  max-width: 71.5%;
}
body div.container-fluid div.wrap_main div.first_part ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
body div.container-fluid div.wrap_main div.first_part ul li {
  flex: auto;
}
body div.container-fluid div.wrap_main div.first_part ul li img {
  height: auto;
  max-width: 48em;
  width: 94.36%;
  margin-left: 65px;
}
body div.container-fluid div.wrap_main div.first_part ul li div {
  max-width: 487px;
}
body div.container-fluid div.wrap_main div.first_part ul li div h1 {
  font-size: 47px;
  font-weight: 600;
  overflow-wrap: break-word;
  letter-spacing: -1px;
}
body div.container-fluid div.wrap_main div.first_part ul li div p {
  font-size: 18px;
  overflow-wrap: break-word;
}
body div.container-fluid div.wrap_main div.first_part ul li div#create_account form#create_account_form input {
  border: none;
  border-bottom: 1px solid #AAB5C5;
  width: 323px;
  height: 52px;
  margin-bottom: 24px;
}
body div.container-fluid div.wrap_main div.first_part ul li div#create_account form#create_account_form button.btn {
  background-color: #1FB6FF;
  color: white;
  border-radius: 30px;
  font-size: 17px;
  font-weight: 600;
  padding: 11px 86px;
  margin-top: 16px;
}
body div.container ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  margin-right: 66px;
}
body div.container ul li {
  margin-left: 60px;
}
body div.about-your-design {
  padding-top: 118px;
  text-align: center;
}
body div.about-your-design h2 {
  font-size: 36px;
}
body div.about-your-design div.you_design {
  width: 545px;
}
body div.about-your-design div.you_design span {
  font-size: 18px;
  line-height: 1.5em;
}
body div.about-your-design button {
  background-color: #1FB6FF;
  color: white;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  padding: 14px 36px;
  margin-top: 44px;
}
body div.container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
  justify-content: left;
  max-width: 71.5%;
  margin-top: 99px;
  padding-bottom: 80px;
}
body div.container div.pagination_here > * {
  height: 128px;
}
body div.container div.pagination_here > * div {
  font-size: 18px;
  font-weight: 600;
}
body div.container div.pagination_here > div {
  border-bottom: 1px solid lightgrey;
  padding: 0 0 0 20px;
  width: 292px;
  cursor: pointer;
}
body div.container div.pagination_here p {
  margin-top: 7px;
  width: 187px;
  font-size: 16px;
  font-weight: normal;
}
body div.container div.pagination_here div svg {
  position: relative;
  top: 20px;
  left: -10px;
  fill: none;
}
body div.container div.pagination_here div div {
  margin-top: -4px;
}
body div.container div#displayhere_div #displayhere {
  height: auto;
  margin-left: 95px;
  width: 94%;
  max-width: 59em;
}
body div.wrap {
  margin-top: 278px;
}
body div.wrap div.buzzfeedpart {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -314px;
}
body div.wrap div.buzzfeedpart div.leftimage img {
  height: auto;
  width: 100%;
  max-width: 82em;
}
body div.wrap div.buzzfeedpart ul {
  list-style-type: none;
  margin-left: 87px;
}
body div.wrap div.buzzfeedpart ul li h1 {
  max-width: 319px;
  overflow-wrap: break-word;
  font-size: 25px;
}
body div.wrap div.buzzfeedpart ul li div.p-div {
  max-width: 319px;
}
body div.wrap div.buzzfeedpart ul li div.p-div p {
  font-size: 17px;
  overflow-wrap: break-word;
}
body div.wrap div.buzzfeedpart ul li button.btn {
  border: 1px solid #D5DCE3;
  border-radius: 30px;
  background-color: white;
  color: #3E4854;
  padding: 13.5px 35px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  font-weight: 600;
  opacity: 0.6;
  transition: 0.3s;
}
body div.wrap div.buzzfeedpart ul li button.btn:hover {
  opacity: 1;
  background-color: #1FB6FF;
  color: white;
  -webkit-box-shadow: 0 4px 6px -6px #20a2e1;
  -moz-box-shadow: 0 4px 6px -6px #20a2e1;
  box-shadow: 0 5px 6px -6px #20a2e1;
}
body .purple {
  position: relative;
  top: -218px;
}
body div.container-fluid div.container {
  position: absolute;
  left: 14%;
  align-content: center;
  justify-content: center;
}
body div.container-fluid div.container div.explore_integrations {
  position: absolute;
  left: 24px;
  top: 219px;
  max-width: 472px;
}
body div.container-fluid div.container div.explore_integrations ul {
  list-style-type: none;
  margin-left: -10px;
  display: block;
}
body div.container-fluid div.container div.explore_integrations ul li {
  margin-left: 0px;
}
body div.container-fluid div.container div.explore_integrations ul li:nth-child(2) {
  margin-top: 35px;
}
body div.container-fluid div.container div.explore_integrations ul li h2 {
  font-size: 27px;
  font-weight: 600;
  overflow-wrap: break-word;
  color: #FFFFFF;
  max-width: 453px;
  letter-spacing: -1px;
}
body div.container-fluid div.container div.explore_integrations ul li button.btn {
  border: 1px solid #D5DCE3;
  border-radius: 30px;
  background-color: #AD6EDD;
  color: white;
  padding: 12.5px 23px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  font-weight: 600;
  opacity: 1;
  transition: 0.3s;
}
body div.container-fluid div.container div.explore_integrations ul li button.btn:hover {
  opacity: 1;
  background-color: #FFFFFF;
  color: black;
  -webkit-box-shadow: 0 4px 6px -6px #20a2e1;
  -moz-box-shadow: 0 4px 6px -6px #20a2e1;
  box-shadow: 0 5px 6px -6px #20a2e1;
}
body div.container-fluid div.container div.orange_girl img {
  width: 100%;
  max-width: 35em;
  position: relative;
  left: 336px;
}
body div.container-fluid div.purple {
  background-color: #AD6EDD;
  width: 102%;
  height: 323px;
  position: relative;
  top: 559px;
  left: -15px;
}
body .footer {
  margin-top: 341px;
  padding-top: 133px;
  padding-bottom: 93px;
  background-color: #000000;
}
body div.container-fluid div.footer_menu {
  width: 72%;
  margin: 0 auto;
}
body div.container-fluid div.footer_menu ul {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style-type: none;
}
body div.container-fluid div.footer_menu ul li {
  display: flex;
  flex-direction: column;
  margin-right: 120px;
}
body div.container-fluid div.footer_menu ul li h3 {
  color: white;
  font-size: 19px;
}
body div.container-fluid div.footer_menu ul li span {
  color: #848588;
  width: 101px;
  line-height: 37px;
}
body div.container-fluid div.footer_menu ul li span:hover {
  cursor: pointer;
  color: white;
}
