* {
  margin: 0px;
  padding: 0px;
  outline: 1px dotted greenyellow;
  color: #222D39;
  font-family: Graphik, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
}
body div#wrapper div#header div.head_banner {
  height: 45px;
  text-align: center;
  background-color: black;
  font-size: 15px;
  padding: 12.2px 0;
}
body div#wrapper div#header div.head_banner span {
  color: white;
}
body div#wrapper div#header div.head_banner span span {
  font-weight: 600;
}
body div#wrapper div#header div.head_banner span a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}
body div#wrapper div#header .wrap_outer .nav_wrapper {
  width: 70%;
  margin: 0 auto;
}
body div#wrapper div#header .wrap_outer .nav_wrapper nav.navbar {
  margin-top: 50px;
}
body div#wrapper div#header .wrap_outer .nav_wrapper nav.navbar div.collapse ul.navbar-nav li.nav-item {
  font-weight: 700;
  font-size: 15px;
  text-shadow: 0 0 1px rgba(51, 51, 51, 0.2);
  padding: 0 2.5px;
}
body div#wrapper div#header .wrap_outer .nav_wrapper nav.navbar div.collapse ul.navbar-nav li.nav-item .sign_up {
  background-color: #1FB6FF;
  color: white;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
  padding: 10px 21px;
}
body div#wrapper div#header .wrap_outer .nav_wrapper nav.navbar div.collapse ul.navbar-nav li.nav-item div.dropdown-menu a.dropdown-item {
  font-size: 13px;
}
body div#wrapper div#header div#main {
  margin-top: 176px;
}
body div#wrapper div#header div#main .first_page ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
body div#wrapper div#header div#main .first_page ul li {
  flex: auto;
  display: block;
}
body div#wrapper div#header div#main .first_page ul li img {
  width: 100%;
  height: auto;
}
body div#wrapper div#header div#main .first_page ul li div {
  max-width: 487px;
}
body div#wrapper div#header div#main .first_page ul li div h1 {
  font-size: 50px;
  overflow-wrap: break-word;
}
body div#wrapper div#header div#main .first_page ul li div p {
  font-size: 18px;
  overflow-wrap: break-word;
}
body div#wrapper div#header div#main .first_page ul li #create_account form input {
  border: none;
  border-bottom: 1px solid #AAB5C5;
  width: 323px;
  height: 52px;
  margin-bottom: 24px;
}
body div#wrapper div#header div#main .first_page ul li #create_account form .get_started {
  background-color: #1FB6FF;
  color: white;
  border-radius: 30px;
  font-size: 17px;
  font-weight: 600;
  padding: 11px 86px;
  margin-top: 16px;
}
@media only screen and (max-width: 1500px) {
  body div#wrapper div#header #wrap_nav nav.navbar {
    margin: 2px 30px;
  }
}
