* {
    margin: 0px;
    padding: 0px;
    outline: 1px dotted green;
}

#wrapper {
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 20px;
}

#header {
    min-height: 150px;
    background-color: green;
    margin-bottom: 20px;
}

#navigation {
    display: inline-block;
    float: left;
    min-height: 300px;
    width: 200px;
    background-color: blue;
    margin-right: 20px;
}

#main_content {
    display: inline-block;
    min-height: 400px;
    width: 730px;
    background-color: red;
    margin left: 20px;
}

.subcontents {
    display: inline-block;
    min-height: 210px;
    width: 210px;
    background-color: yellow;
    margin: 20px 0px 10px 20px;
}

#advertisement {
    min-height: 120px;
    width: 680px;
    background-color: purple;
    margin: 10px 0px 10px 20px;
}