<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document Object Model</title>
</head>

<body>
    <script type="text/javascript">

        // created DOM
        var bod = document.body;
        for (var i = 0; i < 10; i++) {
            bod.innerHTML += "<p>This has gone through the loop completely: " + i + " times</p>";
        }
        // added event listener
        var paragraphs = document.getElementsByTagName('p');
        console.log(paragraphs);
        for (var i = 0; i < paragraphs.length; i++) {
            paragraphs[i].addEventListener('click', function () {
                this.style.background = 'blue';
            });
        }

    </script>
</body>

</html>