<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pokedex</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore.js'></script>
    <script src="../assets/js/script.js"></script>
    <link rel="stylesheet" href="../assets/css/style.css">
<body>
    <div id="wrapper">
        <div id="header"><h1>PokéDex</h1></div>
        <div id="container">
            <div class="wrap">
                <div id="pokedisplay"></div>
                <div id="pokedex">
                    <img src="../assets/images/pokedex1.gif" alt="pokedex image">
                    <div class="dex_screen">
                            <h2 id="name">TARGET</h2>
                            <img id="pokemon" src="//:0" alt="">
                    </div>
                    <div id="poketype"></div>
                    <div id="height"></div>
                    <div id="weight"></div>
                </div>
            </div>           
        </div>
        <div id="footer"></div>
    </div>   
    
</body>
</html>